.App {
  margin: 1.5em 0;
}

.search-parent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 150px;
  width: 1000px;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0 150px;
  width: 1000px;
}

.searchbox {
  outline: none;
  border-radius: 0;
  border: 2px solid rgb(70, 70, 70);
  padding: 7px;
  width: 220px;
  transition: 0.3s linear;
}

.searchbox:focus {
  border: 2px solid rgb(50, 50, 50);
  box-shadow: 2px 2px 4px rgba(52, 52, 52, 0.4);
}